/* CSS Custom Properties */

:root{
  --default-spacing: 20px;
  --main-bg-color: #FBFFA1;
  --assignment-color: #90EE90;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Base CSS*/
body {
  font-family: "Tomorrow";
  background: var(--main-bg-color);
  overflow: auto;
}

div.row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: var(--default-spacing);
}

.assignment {
  border-radius: 3px;
  background-color: var(--assignment-color);
  padding: var(--default-spacing);
  border-radius: var(--default-spacing);
  text-align: center;
  align-content: center;

  > h2{
    text-decoration: none;
  }
}

/* Queries */

/* Max Width Query */
@media screen and (max-width: 600px){
    body{
        background-color: gold;
    }
    div.row{
        grid-template-columns: 1fr;
    }
}

/* Dark/Light Mode Query */
/* @media screen and (prefers-color-scheme: dark){
    body{
        background-color: #ffd58b;
    }
} */

/* Min Width Query */
@media screen and (min-width: 2000px){
    body{
        background-color: red;
    }
}