/* CSS Custom Properties */

:root{
  --default-spacing: 20px;
  --main-bg-color: #614040;
  --assignment-color: #acabab;
  --assignment-text: #382424;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Screen Reader only */
.sr-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

/*Base CSS*/
body {
  font-family: "Tomorrow";
  background: var(--main-bg-color);
  overflow: auto;
}

header{
  max-width: 60%;
  margin: auto;
  text-align: center;
  nav{
    li{
      list-style-type: none;
    }
  }
}


section.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--default-spacing);
  max-width: 60%;
  margin: auto;
  font-size: 0.8rem;
}

.assignment {
  border-radius: 3px;
  background-color: var(--assignment-color);
  padding: var(--default-spacing);
  border-radius: var(--default-spacing);
  text-align: center;
  align-content: center;

  a{
      text-decoration: none;
      color: var(--assignment-text);
      &:hover{
        color: #f1c9c9;
      }
    }
  h2{
    color: var(--assignment-text);
  }
  ul{
    padding: 0;
    text-align: center;
    li{
      list-style-type: none;
    }
  }
}

/* Queries */

/* Min Width Query for Tablet breakpoint*/
@media screen and (min-width: 768px){
    section.container{
        grid-template-columns: 1fr 1fr;
        max-width: 50%;
    }
}

/* Min Width Query for Desktop breakpoint*/
@media screen and (min-width: 992px){
    section.container{
      grid-template-columns: repeat(4, 1fr);
      max-width: 60%;
    }
}