/*  ---------------Box Sizing-----------------  */
    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    /* Starter */
    main>* {
      font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
        sans-serif;
      font-weight: normal;
      background-color: #c0c0c0;
      border-radius: 10px;
      padding: 20px;
    }

    main {
      display: grid;
      gap: 20px;
      max-width: 80vw;
      margin: 20px auto;
    
      grid-template-areas:
                      "header header header header"
                      "content content blog blog"
                      "content content aside aside"
                      "footer footer footer footer";
    }

    header.primary{
    grid-area: header;
   }

   #content{
    grid-area: content;
   }

   #blog{
    grid-area: blog;
   }

   aside{
    grid-area: aside;
   }

   footer.primary{
    grid-area: footer;
   }