/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
  /* background-image: url(../img/grid.png); */
  width: 960px;
  margin: 20px auto;
  border: 1px solid #000;
  display: grid;  
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

header.primary{
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 2.0833%;
  grid-area: 1 / 1 / 2 / 11; /* shorthand: row-start / col-start / row-end / col-end */
}

#content{
  grid-area: 2 / 1 / 3 / 11; /* shorthand: row-start / col-start / row-end / col-end */
  display: grid;
  padding: 0 20px;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

#blog{
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  grid-area: 1 / 1 / 2 / 8; /* shorthand: row-start / col-start / row-end / col-end */
}

aside {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  grid-area: 1 / 8 / 2 / 11; /* shorthand: row-start / col-start / row-end / col-end */
}

footer.primary{
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 2.0833%;
  grid-area: 3 / 1 / 4 / 11; /* shorthand: row-start / col-start / row-end / col-end */
}